extends ../layout

block content

  div(class='page-header')
    a(href='/fabrics/new' class='btn btn-success pull-right') Add New Fabric
    h1 Fabric inventory

  table(class='table')
    thead
      th Name
      th Fiber Content
      th Width (inches)
      th Yardage Avail
      th Domestic?
      th
    tbody
      each fabric in fabrics
        tr
          td
            a(href="/fabrics/#{fabric.id}")= fabric.name
          td= fabric.content
          td= fabric.width_in_inches
          td= fabric.yardage_available
          td= fabric.domestic ? "Domestic" : "Imported"
          td
            a(href="/fabrics/#{fabric.id}/edit" class="btn btn-warning") Edit
            a(href="/fabrics/#{fabric.id}/delete" class="btn btn-danger") Delete
