extends ../layout

block content

  h1(class='page-header') Fabric inventory

  table(class='table')
    thead
      th Name
      th Fiber Content
      th Width (inches)
      th Yardage Avail
      th Domestic?
    tbody
      each fabric in fabrics
        tr
          td= fabric.name
          td= fabric.content
          td= fabric.width_in_inches
          td= fabric.yardage_available
          td= fabric.domestic ? "Domestic" : "Imported"
